[submodule "plugins/tinytinyrss-fever-plugin.git"]
	path = plugins/tinytinyrss-fever-plugin.git
	url = https://github.com/dasmurphy/tinytinyrss-fever-plugin.git
[submodule "plugins/tt-rss-newsplus-plugin.git"]
	path = plugins/tt-rss-newsplus-plugin.git
	url = https://github.com/hrk/tt-rss-newsplus-plugin.git
[submodule "ttrss-mobile.git"]
	path = ttrss-mobile.git
	url = https://github.com/mboinet/ttrss-mobile.git
[submodule "themes/reeder"]
	path = themes/reeder
	url = https://github.com/tschinz/tt-rss_reeder_theme.git
[submodule "themes/feedly"]
	path = themes/feedly
	url = https://github.com/levito/tt-rss-feedly-theme.git
[submodule "themes/clean-greader"]
	path = themes/clean-greader
	url = https://github.com/naeramarth7/clean-greader.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/DarkPreacher/tt-rss-theme-paper.git
